# Docker
# Build and push an image to Azure Container Registry

trigger:
- main

resources:
- repo: self

variables:
  dockerRegistryServiceConnection: 'bf05772b-a0e2-4e07-8ec2-29a509ecee41'
  imageRepository: 'niteshreddysigmoidanalyticsazuredevops'
  containerRegistry: 'mydevops.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'
  agentPoolName: 'self hosted pool'

stages:
- stage: Build
  displayName: Build and push stage

  jobs:
  - job: Build
    displayName: Build
    pool:
      name: $(agentPoolName)

    steps:
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

    # ---------- DEBUG: List repository contents ----------
    - script: |
        echo "--- Build.SourcesDirectory ---"
        ls -R $(Build.SourcesDirectory)
      displayName: "DEBUG: List repo contents"

    # ---------- Publish Kubernetes Manifests ----------
    - task: PublishPipelineArtifact@1
      displayName: Publish Kubernetes Manifests
      inputs:
        targetPath: 'manifests'
        artifact: 'manifests'
        publishLocation: 'pipeline'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'
