apiVersion: v1
kind: Service
metadata:
  name: devops-service
  labels:
    app: devops
spec:
  type: LoadBalancer
  selector:
    app: devops
  ports:
    - port: 5000
      targetPort: 5000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-deployment
  labels:
    app: devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops
  template:
    metadata:
      labels:
        app: devops
    spec:
      containers:
        - name: devops-container
          image: mydevops.azurecr.io/devops:latest
          ports:
            - containerPort: 5000
